/*SITE HEADER & SITE MAIN */

.site-header {
	background: rgba(0,0,0,0);
}
.site-main {
}

@media (min-width: 768px) /*For screens larger than 768 */{
	
	.site-header {
		position: fixed;
		top: 0;
		left: 0;
		width: 25%;
		height: 89%;
	}
	.site-main {
		display: block;
		width: 75%;
		height:100%;
		margin-left: 25%;
	}	
}

@media (min-width: 1380px) and (min-height: 900px) {
.site-header {
	top: 8%;
    height: 69%;
	}
}

/*VERTICAL CONTAINERS */

.vertical-container {
	display: table;
	height:100%;
	width: 100%;
	min-height: 100%;/*for mozilla*/
	max-width: 940px;


}
.vertical-container-inner {
    display: table-cell;
    vertical-align: middle;
    padding: 0 5em 0 2em;
    position: relative;
    overflow-x: hidden;

}

@media (min-width: 768px) {
	.vertical-container {
		display: flex;
		align-items: center;
	}
	.vertical-container-inner {
		display: block;
		width: 100%;
	}
}
@media (max-width: 767px) {
	.vertical-container-inner {
		padding:0 1em;
	}
}
@media (min-width: 1380px) and (min-height: 900px){
    .vertical-container-inner {
        padding: 0 2em 0 5em;
    }
}



/* SITE BRANDING */

.site-branding {
	padding: 0;
	max-width: 240px;
}


@media (max-width: 767px){
.site-branding {
	margin: auto;
	padding-top: 2em;
    width: 40%;
	}
}
@media (min-width: 768px){
.site-branding {
	clear: both;
	float: right;
	}
}

/* SITE-NAVIGATION */

	
.site-navigation {
	text-align: center;
}
.site-navigation ul li {
  display: block;
  font-family: 'Sansita', sans-serif;
	font-style: italic;
	font-size: 1.3125em;
	line-height: 1.7em;
	font-weight:400;	
}

.divider {
		display:block;
		border-top: 2px solid #412415;
		width: 100px;
		padding-top: .5em;
		}	
@media (max-width: 767px){
.divider {
		margin: auto;
		}
	}

/*for large screen*/

@media (min-width: 768px){
	.site-navigation {
		clear: both;
		float: right;
		text-align: left;
		width: 230px;
		}
	 .site-navigation ul {
		margin-left: 3em;
		}
	.site-navigation ul li  {
		padding: .1em 0;
		display:block;
		font-family: 'Sansita', sans-serif;
		font-style: italic;
		font-size: 1.3125em;
		line-height: 1.7em;
		font-weight:400;		
		}
}


/* NAVICON MENU */
.menu.navicon {
	color: rgba(0,0,0,0);
}
.menu.navicon:after {
	color: #412415;
	content: '\2630';
	font-size: 2em;
	cursor: pointer;
	width: 2em;
	height: 1em;
	line-height: 1em;
	display: block;
	transition: all .3s;
	margin: auto;
}
.menu.navicon.expanded:after {
	content: '\2715';
	transform: rotate(90deg);
}


/* TOGGLE NAV */

.toggle-nav .menu {
	 display: none;
}

@media (max-width: 767px) {
	
	.toggle-nav .menu {
			display: block;
			margin-bottom: 1em;
		}
	.toggle-nav .menu + ul,
	.toggle-nav .menu + ul + ul {
			clear: both;
			display: none;
		}
	.toggle-nav .menu + ul li,
	.toggle-nav .menu + ul li + ul li {
			clear: both;
			display: block;
			float: none;
			padding: .2em 0;
		}
	.toggle-nav .menu + ul li a,
	.toggle-nav .menu + ul li a + ul li a {
			display: block;
			transition: all .3s ease;
		}
	.toggle-nav .menu + ul li a:hover,
	.toggle-nav .menu + ul li a + ul li a:hover {
			font-weight: 700;
 			color: #412415;
		}	
	.toggle-nav .menu.expanded + ul,
	.toggle-nav .menu.expanded + ul + ul {
			display: block;
			clear: both;
			padding-left: 0;
			padding-right: 0;
		} 
}

/*SITE FOOTER */

@media (min-width: 768px) {
	.site-footer {
		position: fixed;
		bottom: 2px;	
		left: 0;
		width: 25%;
		height: 11%;
	}
}

@media (min-width: 1380px) and (min-height: 900px) {
.site-footer {
	bottom: 10%;
	}
}

//
//@media (min-width: 768px) and (max-height: 540px) {
//		footer {
//		position: absolute;
//		top: -9000px;
//		left: -9000px;}
//}
//@media (min-width: 870px) and (max-height: 580px) {
//		footer {
//		position: absolute;
//		top: -9000px;
//		left: -9000px;}
//}
//
//@media (min-width: 1250px) and (max-height: 640px) {
//		footer {
//		position: absolute;
//		top: -9000px;
//		left: -9000px;}
//}

.site-footer ul {
		float: right;
	 	width: 165px;
}
.site-footer ul li {
		text-align: left;
		font-weight: normal;
		display: block;
		font-size: .8em;
		line-height: 1.4em;
}

@media (max-width: 767px) {
		.site-footer {
		padding-top: 1em;
		border-top: 1px dotted #412415;
		}
		.site-footer ul {
		text-align: center;
		float: none;
    width: 100%;
    padding-left: 0
		}
		.site-footer ul li {
		display: inline-block;
		padding: 0 1em;
	}
}

